<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FriendDataFilePath" value="D:\test\SplitWise\SplitWise\Input\Friends.csv" />
    <add key="BillDataFilePath" value="D:\test\SplitWise\SplitWise\Input\Bills.csv" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>